<form class="text-center border border-success p-5 main-form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="column-full-width">
    <input matInput placeholder="Recipe Name" formControlName="recipeName">
  </mat-form-field>

  <app-searchbox [queryType]="QueryType.include" [recipeId]="recipeId" class="componentSearchBox"></app-searchbox>

  <div>
      <button mat-raised-button class="btn btn-success form-buttons-save" type="submit">Save</button>
      <button mat-raised-button class="btn btn-danger form-buttons-cancel" (click)="onCancel()">Cancel</button>
  </div>

</form>
