<form class="main-form mat-elevation-z8" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <div><h5 class="description">Add Ingredient</h5></div>

  <mat-form-field class="column-full-width">
    <input matInput placeholder="Ingredient Name" formControlName="ingredientName">
  </mat-form-field>

  <div>
    <button mat-raised-button class="btn btn-success form-buttons-save" type="submit">Save</button>
    <button mat-raised-button class="btn btn-danger form-buttons-cancel" (click)="onCancel()">Cancel</button>
  </div>
</form>
