.main-form {
  width: 60%;
}

.column-full-width {
  width: 80%;
  padding-left: 30px;
}

.form-buttons-cancel {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100px;
}

.form-buttons-save {
  width: 100px;
  margin-left: 335px;
}

.description
{
  text-align: left;
  margin-left: 30px;
  padding-top: 30px;
}
